@import "tailwindcss";

/* Thiết lập màu nền chung cho ứng dụng */
body {
  background-color: #F3F4F6;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Ẩn thanh cuộn (Scrollbar) cho khu vực chat/tường lớp học */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
}